@CHARSET "UTF-8";

.container_wrap{
	width:100%;
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container_left .container_right{
	width: 100%;
}

.c1, .c2{
	float: left;
}
.c3{
	float: right;
}
.col-lg-11{
	margin: 0px auto;
}