@CHARSET "UTF-8";

.container_wrap{
	width:100%;
	display: grid;
	grid-template-columns: 1fr 20fr 1fr;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container_left .container_right{
	width: 100%;
}

.c1, .c2{
	float: left;
}
.c3{
	float: right;
}
.col-lg-10{
	margin: 0px auto;
}

@media (min-width: 992px) {
  .col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    margin: 0px auto;
  }
}