@CHARSET "UTF-8";

.photo {
	width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

 

.footer{
	padding-bottom: 3rem !important;
	padding-top: 3rem !important;
	/* background-color: #343a40 !important; */
	display: block;
}

.header1{
	padding: 2rem;
    background-color: #e9ecef;
    border-radius:10px;
}
 
.header2{
	margin-top:1.5rem !important;
}

.middle{
	width:auto;
	height:60px;
	display:grid;
	grid-template-columns: 1.5fr 7fr 1.5fr;
	vertical-align: middle;
	margin: auto 0px;
}

.my_upload{
	text-align: center;
	margin: auto auto;
}

.upload{
	display:inline-block;
	margin: auto auto;
}
